
.thumbnail-row{
  position: relative;

}
.thumbnail {
  width: 100%;
  margin-bottom: 10px;
}
.search-bar {
  display: block;
}
.video-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 12px 0px;
}
.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.video-creator{
  color: #606060;
  font-size: 12px;
  margin: 0px 0px 4px 0px;
}
.video-stats{
  color: #606060;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

.video-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.video-time{
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 18px;
  right: 5px;
}